/*------------------------------------------------*/
/*-----------------[HEADER]-----------------------*/
/*------------------------------------------------*/
.Header { 
	width: 100%;
	position: relative;
	white-space: nowrap;
	clear: both;
	display: block;
	height: $header-height;
	background: $header-bg
	;
	// background: none;
	margin: 0 auto;
	z-index: 99;
	position: relative; // Cambiar de relative a fixed si se quiere integrar el heade ral contenido
	left: 0;
	right: 0;
	-webkit-box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.45) !important;
	-moz-box-shadow:    1px 1px 4px 0px rgba(0, 0, 0, 0.45) !important;
	box-shadow:         1px 1px 4px 0px rgba(0, 0, 0, 0.45) !important;
	@include transicion();
	
	@media (max-width: $desktop-width) {
		height: auto;
		background: none;

		&--tiny { position: relative; }
	}

	@media (max-width: $tablet-width) {
		position: relative;	
		height: auto;	
	}

	&--tiny {
		height: 60px;
		background: $header-bg;
		position: fixed;

		@media (max-width: $tablet-width) {
			height: auto;
		}
	}
	
	.Header-contenido {

		display: block;
		height: 100%;
		width: $desktop-width;
		position: relative;
		margin: 0 auto;

		@media (max-width: $desktop-width) {
			max-width: $desktop-width;
			width: 100%;
			height: auto;
			display: inline-block;
		}

		/* Logo */
		.Header-logo {
			padding: .2rem 0rem;
			display: block;
			float: left;
			max-width: 320px;


			@media (max-width: $tablet-width) {
				max-width: 100%;
				width: 100%;
				text-align: center;
				padding: 1rem 0;
			}
			img {
				max-width: 100%;
				// max-width: 320px;
				@include transicion();

				@media (max-width: $tablet-width) {
					width: 75%;
				}
				&.tiny {
					max-width: 144px;

					@media (max-width: $tablet-width) {
						height: auto;
						max-width: 320px;
					}
				}
			}
		}
		/* Botones Sociales */
		.social {
			float: right;
			padding: .5rem 1em;

			a {

				i {
					width: 40px;
					height: 40px;
					background: $support-text-color;
					font-size: 1.5rem;
					text-align: center;
					padding-top: 8px;
					color: white;
				}
			}

			@media (max-width: $tablet-width) {
				width: 100%;
				clear: both;
				text-align: center;
			}
		}
		/* Search Form */
		#searchform {
			float: right;
			padding: .5rem 1em;
			@include transicion();

			@media (max-width: $tablet-width) {
				display: none;
			}
			
			div { margin: 0; }
			label { display: none; }
		}
		
		 #s {
			float: right;
			// color: #eaeaea;
			// -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.45);
			// -moz-box-shadow:    inset 1px 1px 4px 0px rgba(0, 0, 0, 0.45);
			// box-shadow:         inset 1px 1px 4px 0px rgba(0, 0, 0, 0.45);
			// border-radius: 0;
			@include transicion();
			width: 160px;
		}
		#s:focus {
			// background-color: #eaeaea;
			// width: 196px;
		}
		#searchsubmit {
			display: none;
		}
		.only-search #searchform {
			top: 5px;
			z-index: 1;
		}
		.only-search #s {
			// background-color: #666;
			// border-color: #000;
			// color: #222;
		}
		.only-search #s,
		.only-search #s:focus {
			width: 85%;
		}
		.only-search #s:focus {
			// background-color: #bbb;
		}
		.with-image #searchform {
			top: auto;
			bottom: -27px;
			max-width: 195px;
		}
		.only-search + #access div {
			padding-right: 205px;
		}
	}
}
